# Build artifacts
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/

# Logs
*.log

# Dotnet
*.nupkg
*.snupkg
.nuget/

# OS
.DS_Store

# Secrets
secrets.json
UserSecrets/


