<div class="p-4">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl font-bold">Projets ({{ projectCount() }})</h2>
    <button class="btn" (click)="create()">Nouveau Projet</button>
  </div>

  <div *ngIf="projects().length === 0" class="text-gray-500"> {{ NoProjectTitle() }}</div>

  <ul>
    <li *ngFor="let p of projects()" class="border p-3 rounded mb-2 flex justify-between items-center">
      <div>
        <div class="font-semibold">{{ p.name }} - <span class="text-green-400">( {{ getProjectTasks(p.id) }} )</span> </div>
        <div class="text-sm text-gray-600">{{ p.description }}</div>
      </div>
      <div class="space-x-2 flex justify-end ml-4">
        <button (click)="edit(p.id)" class="bg-gray-600 rounded px-2"> 
          <img src="/assets/icon/Edit_white.svg" alt="Supprimer" class="h-4 w-4 inline" /> 
        </button>
        <button (click)="remove(p.id)" class="btn-danger text-white"> 
          <img src="/assets/icon/Delete Vector White.svg" alt="Supprimer" class="h-4 w-4 inline" />
        </button>
      </div>
    </li>
  </ul>
</div>
